/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
 * {
            font-family: 'Montserrat', sans-serif;
        }

body {
  width: 100%;
  margin: 0 auto;
  
}

.header {
  background-image: url(/Event_booster/img/pic.png);
  height: 670px;
  background-repeat: no-repeat;
  background-size: cover;
}


.header__logo {
  position: absolute;
  width: 250px;
  top: 0px;
  
  left:   0px;
  
}
.header__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__hero__main-title {
  width: 800px;
  height: 122px;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 68px;
  letter-spacing: 0%;
  text-align: center;
  color: #dc56c5;
position: relative;
  bottom: 181px;
}
.header__hero__filters {
  display: flex;
  gap: 45px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 64px;
 
}
.header__hero__filters__search-input {
  border-radius: 40px;
  width: 370px;
  height: 50px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  padding-left: 42px;
  font-weight: 440;
  font-size: 22px;
  color: #a6a6a6;
}
.header__hero__filters__filter-select {
  border-radius: 40px;
  width: 370px;
  height: 50px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  padding-left: 42px;
  font-weight: 440;
  font-size: 22px;
  color: #a6a6a6;
}
.header__hero__filters__filter-select::after {
  display: none;
}
.header__hero__filters__filter-date {
  border-radius: 40px;
  width: 370px;
  height: 50px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  padding-left: 42px;
  font-weight: 440;
  font-size: 22px;
  color: #a6a6a6;
}

.film {
 
  /* width: 194px;
  height: 312px; */
  border-radius: 50px 0;
width: 194px;
    height: 312px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin: 0 auto 60px; 
}
.film-container {
  max-width: 946px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo {
  width: 180px;
  height: 227px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.main {
  max-width: 1888x;
   min-height: 2000px;
  margin: 0 auto;
  background: url(/Event_booster/img/bg_body.png) no-repeat center/cover;
}

.name {
  font-family: var(--font-family);

display: flex;
     font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #dc56c5;
    line-height: 1.6;
    margin: 10px 0;  
}

.date {
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.position {
 display: flex;
     font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #dc56c5;
    line-height: 1.6;
    margin: 10px 0; 
  color: #ffffff;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  row-gap: 27px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text:hover {
  color: #dc56c5;
  cursor: pointer;
  border: #dc56c5 solid 3px;
}

.btn-back {
  margin-right: 40px;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  border: #dc56c5 solid 3px;
  transition: all 0.3s ease;
}
.btn-back:hover {
  background-color: #dc56c5;
  cursor: pointer;
  color: #ffffff;
}

.btn-next {
  margin-left: 40px;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  border: #dc56c5 solid 3px;
  transition: all 0.3s ease;
}
.btn-next:hover {
  background-color: #dc56c5;
  cursor: pointer;
  color: #ffffff;
}

footer {
  background: url(/Event_booster/img/bg_body.png) no-repeat center/cover;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #939393;
  padding-top: 80px;
  padding-bottom: 30px;
}

.film-bg {
  display: flex;
  position: absolute;
  opacity: 0.2;
 width: 157px;
  height: 152px;
  border: 1px solid #DC56C5;
  border-radius: 50px 0;
 margin-left: 73px;
  margin-top: -27px;
}