@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  width: 1280px;
  margin: 0 auto;
}
.header {
  background-image: url(../img/band.png);
  background-color: #0b0b0b80;
  height: 446px;
  &__logo {
    position: absolute;
  }
  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__main-title {
      width: 600px;
      height: 122px;
      margin-top: 40px;
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 50px;
      letter-spacing: 0%;
      text-align: center;
      color: #dc56c5;
      margin-bottom: 52px;
    }
    &__filters {
      &__search-input {
        width: 270px;
        height: 40px;
        background: #ffffff33;
        backdrop-filter: blur(20px);
        border-radius: 30px;
        border: none;
        color: white;
      }
        &__filter-select {
        width: 270px;
        height: 40px;
        background: #ffffff33;
        backdrop-filter: blur(20px);
        border-radius: 30px;
        border: none;
        color: #939393;
      }
        &__filter-date {
        width: 270px;
        height: 40px;
        background: #ffffff33;
        backdrop-filter: blur(20px);
        border-radius: 30px;
        border: none;
        color: #939393;
      }
    }
  }
}

.film {
  width: 194px;
  height: 312px;
  row-gap: 50px;
  &-container {
    max-width: 946px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.photo {
  width: 180px;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.main {
  max-width: 1888x;
  max-height: 2106px;
  margin: 0 auto;
  background: url(../img/bg_body.png) no-repeat center/cover;
}

.name {
font-weight: 700;
font-size: 16px;
text-align: center;
color: #DC56C5;
}

.date{
font-weight: 200;
font-size: 16px;
text-align: center;
color: #FFFFFF;
}

.position{
font-weight: 600;
font-size: 14px;
text-align: center;
color: #FFFFFF;
}